<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-lg-6 col-12 footer-logo"></div>
      <div class="col col-lg-6 col-12 footer-description">
        서울 서초구 반포대로 222성의회관 307호<br>
        TEL: 02-2258-7688 FAX: 02-536-7915<br>
        E-mail: cmc1332@catholic.ac.kr
      </div>
    </div>
  </div>
</footer>
