footer {
  width: 100%;

  .footer-header {
    border-top: 1px solid var(--gray6);
    border-bottom: 1px solid var(--gray6);

    .footer-header-content {
      margin: 0 auto;
      text-align: center;
      font-size: 1.1rem;

      .board-link {
        padding: 8px 24px;
        display: inline-block;

        a {
          color: var(--gray13);
        }
      }
    }
  }

  .footer-body {
    padding: 32px 16px;

    .row {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;

      .footer-logo {
        height: 66px;
        background: url('/assets/img/footer-logo.png');
        background-repeat: no-repeat;
        background-size: calc(100% - 32px);
        background-position: center right;
      }

      .footer-description {
        padding-left: 32px;
        color: var(--gray13);
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.7;

      }

    }

    @media (max-width : 991px) {
      .row {
        padding-left: 32px;

        .footer-logo {
          height: 60px;
          background-size: contain;
          background-position: center left;
        }

        .footer-description {
          padding: 24px 0 8px;
        }
      }
    }

    @media (max-width : 767px) {
      padding: 24px 16px 32px;

      .row {
        .footer-logo {
          height: 50px;
        }

        .footer-description {
          font-size: 1.2rem;
        }
      }
    }
  }
}