<header class="fixed-top">
  <div class="content-inner">
    
    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand p-0" [routerLink]="'/main'"></a>

      <div class="nav-right">
        <div *ngIf="!user" class="my-2 my-lg-0 d-none d-lg-inline-block">
          <div class="login-wrapper">
            <a class="btn-login" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
          </div>
        </div>
        <div *ngIf="user" class="my-menus my-2 my-lg-0 d-none d-lg-inline-block">
          <a class="py-0 btn btn-my-page" [routerLink]="'/my-page'">
            <img src="assets/img/account-circle.svg" alt="my page icon" role="img"> My Page
          </a>
        </div>
        <div class="logo-dr-ville d-inline-block"></div>
        <button (click)="collapse = !collapse" class="navbar-toggler p-0" type="button" data-toggle="collapse"
          data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false"
          aria-label="Toggle menu navigation">
          <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarMenus">
        <ul class="navbar-nav">
          <li class="nav-item d-lg-none" *ngIf="!user">
            <a class="nav-link" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
          </li>
          <li class="nav-item d-lg-none" *ngIf="user">
            <a class="nav-link" [routerLink]="'/my-page'" [routerLinkActive]="'active'">My Page</a>
          </li>
        </ul>
      </div>



    </nav>
  </div>
</header>
