$headerHeight: 68px;
$brandHeight: 54px;

header {
  background: var(--white);
  border-bottom: 1px solid var(--gray22);
  min-height: $headerHeight;

  &.not-ie {
    >div {
      opacity: 0;
    }
  }

  nav {
    min-height: $headerHeight;
    padding: 16px;
    position: relative;

    .navbar-brand {
      width: 280px;
      max-width: calc(100% - 120px);
      height: 55px;
      margin-right: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/assets/img/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.navbar-toggler {
      width: 32px;
      height: 32px;
      border: none;
    }

    .nav-right {
      height: calc( 100% - 32px );
      position: absolute;
      top: 12px;
      right: 16px;
      .logo-dr-ville {
        width: 65px;
        height: 65px;
        margin-left: 32px;
        background-image: url('/assets/img/logo-dr-ville.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        vertical-align: middle;
      }
    }
  }

  .navbar-collapse {
    padding: 16px;

    ul li.nav-item {
      margin-right: 32px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--gray25);
        font-size: 1.4rem;

        &.active {
          color: var(--blue6);

        }
      }

      .btn-website {
        margin: 0;
        height: 11px;
        background-image: url('/assets/icons/website.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .btn-logout {
        color: var(--red);
        font-weight: 600;
      }

      .btn-atndn {
        margin: 0 8px;
        width: 154px;
        height: 34px;
        color: var(--white);
        border-radius: 11px;
        background: var(--blue5);
      }

      &:hover {
        background: var(--gray7);

        a {
          color: var(--black);
        }
      }
    }

    ul li#Live .nav-link {
      position: relative;
      color: var(--orange2);
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;

      &::before {
        position: absolute;
        content: '';
        top: .5rem;
        left: .2rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--orange2);
      }

      &.active {
        color: var(--red);

        &::before {
          background: var(--red);
        }
      }
    }

    ul li#VOD .nav-link {
      color: var(--blue7);

      &.active {
        color: var(--blue1);
      }
    }
  }

  .login-wrapper {
    text-align: right;
  }

  .btn-login {
    color: var(--gray14);
    font-size: 1.4rem;
    font-weight: 300;
    text-align: right;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;

    &.active {
      color: var(--gray14);
    }

    // 임시 스타일
    position: relative;
    top: 4px;
  }

  .btn-atndn {
    width: 154px;
    height: 34px;
    color: var(--white);
    border-radius: 11px;
    background: var(--blue5);

    &.d-lg-none {
      width: 100px;
    }
  }

  .my-menus {
    place-content: flex-end;
  }

  .my-menus .btn-my-page {
    color: var(--gray16);
    font-size: 1.4rem;
    font-weight: 300;

    img {
      width: 26px;
      height: 26px;
    }
  }
}

@media (max-width: 1280px) {

  header {
    .navbar-collapse ul li.nav-item {
      margin-right: 0;

      &>a {
        font-size: 1.2rem;
      }
    }

    nav .navbar-brand {

      margin-right: 0;
    }

    .content-inner {
      padding: 0 16px;
    }
  }
}

@media (max-width: 991px){
  header {
    nav {
      .nav-right {
        .logo-dr-ville {
          margin-left: 0;
          margin-right: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      padding: 12px 0;
  
      .navbar-brand {
      }
  
      button.navbar-toggler {
      }
  
      .nav-right {
        height: calc( 100% - 24px );
        right: 0;
        .logo-dr-ville {
          width: 50px;
          height: 50px;
          margin-right: 12px;
        }
      }
    }
  }
  
}
