<div class="player-wrapper">
  <div class="player">
    <div class="left-wrapper" id="playerContainer" [ngStyle]="{'width':isLive?'70%':'100%'}" *ngIf="content">
      <div class="only-iframe-wrapper" *ngIf="liveUrl">
        <video playsInline #videoPlayer allowfullscreen="false" autoplay controls="true" id="videoJs"
          class="video-js vjs-default-skin">
        </video>
      </div>
    </div>
    <div class="right-wrapper" *ngIf="!isAgendaDetail">
      <div class="reply not-drag">
        <div class="reply-list">
          <div #commentList class="reply-history">
            <div class="reply-item" *ngFor="let reply of replys; let last = last">
              <div class="reply-user">{{reply?.member?.name}}</div>
              <div class="reply-content">
                {{reply.content}}
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
            </div>
          </div>
        </div>
        <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
          <label>[{{user.name}}]</label>
          <input class="form-control" type="text" placeholder="Submit your question on session."
            formControlName="content" />
          <hr>
          <div class="text-right">
            <!-- 0/200  -->
            <button class="btn btn-send" type="submit">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
