.player-wrapper {
  .player {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #UstreamIframe {
    max-height: 460px;
  }

  .player-wrapper {
    .player {
      flex-direction: column;
    }
  }
}
