<div class="content-body">
  <div class="banner-wrapper">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Get access to CATHOLICMD 2021.
        </div>
        <div>
          Login Now.
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
        <div class="login-bottom">
          <div class="password-error">
            <span>{{passwordError}}</span>
          </div>
        </div>
        <div class="submit-button">
          <button (click)="login()">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button #policyAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#policyAlert">
  Policy modal open
</button>

<!-- Entry modal -->
<div class="modal policy-alert fade" id="policyAlert" data-backdrop="static" role="dialog" aria-labelledby="policyAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">알림
        </div>
        <div class="modal-description">
          <p class="mb-2">
            2021년 "제62차 정기총회" 및 "제19차 자랑스러운 가톨릭의대인의 밤" 행사는 온라인 라이브로 개최됩니다.
            라이브 시청을 위해서는 문자로 안내받으신 계정으로 접속하시어, 시청하실 수 있습니다.<br><br>
            * 로그인 계정 안내 *<br>
            &nbsp;&nbsp;&nbsp;ID: 등록하신 동문회 이메일<br>
            &nbsp;&nbsp;&nbsp;PW: 등록하신 동문회 전화번호 끝 4자리<br>
            &nbsp;&nbsp;&nbsp;(자세한 계정정보 확인은 하단 "채팅 상담"을 클릭하시어, 문의하실 수 있습니다.)
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#policyAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>
