.banner-wrapper {
  width: 100%;
  height: 324px;
  position: relative;
  text-align: center;
  background: url('/assets/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left 20%;

  // .m-banner-image {
  //   display: none;
  //   width: 100%;
  //   height: 100px;
  //   max-height: 12vh;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  @media (max-width: 1199px) {
    height: 290px;
  }
  @media (max-width: 991px) {
    height: 250px;
  }
  @media (max-width: 767px) {
    height: 200px;
    background-position: center left 25%;
  }
  @media (max-width: 595px) {
    height: 150px;
  }

  // position: relative;
  // text-align: center;

  // .m-banner-image {
  //   display: none;
  //   width: 100%;
  //   height: 150px;
  //   max-height: 10vh;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

}
@media (max-width: 767px) {
  .banner-wrapper {
    // .m-banner-image {
    //   display: block;
    // }

    // &>img {
    //   display: none;
    // }
  }
}
