<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="my-page-wrapper">
        <div class="title-wrapper">
          <h2>My Page</h2>
          <a (click)="logout()" class="login-status">Logout</a>
        </div>
        <article>
          <div class="my-page-inner personal-information">
            <h3>Personal information</h3>
            <div class="info-wrapper">
              <div class="info-inner">
                <span class="info-title">Name</span>
                <p class="info-desc">{{user.name}}</p>
              </div>
              <div class="info-inner">
                <span class="info-title">E-mail</span>
                <p class="info-desc">{{user.email}}</p>
              </div>
              <div class="info-inner" *ngIf="user.phone">
                <span class="info-title">Phone Number</span>
                <p class="info-desc">{{user.phone}}</p>
              </div>
              <div class="info-inner" *ngIf="user.organization">
                <span class="info-title">Organization</span>
                <p class="info-desc">{{user.organization}}</p>
              </div>
              <div class="info-inner" *ngIf="user.dept">
                <span class="info-title">Div./Dept.</span>
                <p class="info-desc">{{user.dept}}</p>
              </div>
              <div class="info-inner" *ngIf="user.position">
                <span class="info-title">Position</span>
                <p class="info-desc">{{user.position}}</p>
              </div>
              <div class="info-inner" *ngIf="user.country">
                <span class="info-title">Country</span>
                <p class="info-desc">{{user.country}}</p>
              </div>
              <div class="info-inner" *ngIf="user.address">
                <span class="info-title">Address</span>
                <p class="info-desc">{{user.address}}</p>
              </div>
            </div>
          </div>

        </article>
      </div>
    </div>
  </div>
</div>
