.session-wrapper {
  border-top: 1px solid var(--gray26);
  border-bottom: 1px solid var(--gray26);
  background: #999;

  .session-item {
    &.active {
      cursor: pointer;
    }

    display: flex;

    // .lt {
    //   padding: 32px 0 32px 181px;
    //   width: 160px;
    //   height: 100%;
    //   text-align: right;

    //   .title {
    //     padding-right: 20px;
    //     color: var(--white);
    //     font-size: 1.5rem;
    //     font-weight: 600;
    //   }
    // }

    .lt {
      padding: 32px 0;
      width: 160px;
      height: 100%;

      .title {
        padding-left: 8px;
        color: var(--white);
        border-bottom: 1px solid var(--gray26);
        font-size: 1.5rem;
        font-style: italic;
      }
    }

    .rt {
      padding: 16px;
      width: calc(100% - 318px);
      min-height: 100%;
      border-left: 1px solid var(--gray26);

      &>div {
        margin-bottom: 12px;
      }

      .category {
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
      }

      .room {
        font-size: 1.3rem;
        color: var(--white);
      }

      .chair,
      .organizers {
        position: relative;
        padding-left: 16px;
        font-size: 1.4rem;
        color: var(--white);

        &::after {
          position: absolute;
          content: '|';
          left: 0;
        }
      }

      .sub-title {
        margin-bottom: 16px;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1.5rem;

        &.active {
          color: var(--blue1);
        }
      }

      .description {
        margin-bottom: 16px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        line-height: 1.5rem;
      }

    }
  }
}

@media screen and (max-width : 767px) {
  .session-wrapper {
    .session-item {
      flex-wrap: wrap;

      .lt,
      .rt {
        width: 100%;
      }

      .lt {
        padding: 16px 0 0 0;
        text-align: left;

        .time {
          max-width: 150px;
        }
      }

      .rt {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
      }
    }
  }
}
