.agenda-wrapper {
  border-bottom: 1px solid var(--gray26);
  background: var(--gray8);

  // cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
  }

  &.is-live {
    background: var(--pink);
  }

  .agenda-item {
    display: flex;

    .lt {
      padding: 32px 0;
      width: 160px;
      height: 100%;

      .time {
        padding-left: 8px;
        // color: var(--gray16);
        // border-bottom: 1px solid var(--gray26);
        font-size: 1.5rem;
      }

      .live {
        padding: 8px;
        color: var(--red);
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 800;
        -webkit-text-stroke: 1px var(--white);
      }
    }

    .rt {
      padding: 16px;
      width: calc(100% - 160px);
      min-height: 100%;
      border-left: 1px solid var(--gray26);

      &>div {
        margin-bottom: 12px;
      }

      .category {
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);
      }

      .room {
        font-size: 1.3rem;
        color: var(--gray13);
      }

      .title h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--black);
      }

      .chair,
      .organizers {
        position: relative;
        font-size: 1.4rem;
        color: var(--blue4);

        .organizers-fullName {
          font-weight: 700;
        }
      }

      .description {
        margin-bottom: 16px;
        font-size: 1.2rem;
        color: var(--gray16);
        line-height: 1.5rem;
      }

      .goDetail {
        cursor: pointer;
      }

    }
  }
}

@media screen and (max-width : 767px) {
  .agenda-wrapper {
    .agenda-item {
      flex-wrap: wrap;

      .lt,
      .rt {
        width: 100%;
      }

      .lt {
        padding: 16px 0 0 0;

        .time {
          max-width: 150px;
        }
      }

      .rt {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
      }
    }
  }
}
