<div class="agenda-wrapper" *ngIf="agenda" [ngClass]="{'is-live' : isLive}">
  <div class="content-inner agenda-item">
    <div class="lt">
      <div class="time">
      </div>
      <div class="live" *ngIf="isLive">LIVE</div>
    </div>
    <div class="rt d-flex align-items-center">
      <div class="category" *ngIf="agenda.category">
        {{agenda.category.categoryName}}
      </div>

      <div class="room" *ngIf="agenda.room">
        <span *ngIf="agenda.track && agenda.track.trackName">{{agenda.track.trackName}}</span>
      </div>

      <div class="title mb-0" *ngIf="agenda.title">
        <h2 class="m-0">
          {{title[0]}}<span *ngIf="title[1]" style="font-weight: 400; font-size:1.4rem;"> -{{title[1]}}</span>
        </h2>
      </div>

      <div class="chair" *ngIf="agenda.chairs && agenda.chairs.length">
        Chair:
        <span *ngFor="let chair of agenda.chairs;let i = index">
          {{chair.name}}<span *ngIf="agenda.chairs[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="agenda.organizers && agenda.organizers.length">
        Organizers:
        <span *ngFor="let organizer of agenda.organizers;let i = index">
          {{organizer.name}}<span *ngIf="agenda.organizers[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="agenda.speakers && agenda.speakers.length">
        <span *ngFor="let speaker of agenda.speakers;let i = index">
          <span class="organizers-fullName">{{speaker.fullName}}</span><br>
          {{speaker.company+", "+speaker.title}}<span *ngIf="agenda.speakers[i+1]">,</span><br>
        </span>
      </div>

      <div class="description" *ngIf="agenda.description" [innerHTML]="agenda.description">
      </div>

      <div class="lectures" *ngIf="agenda.lectures && agenda.lectures.length">
        <app-program-vod *ngFor="let lecture of agenda.lectures" [vod]="lecture"></app-program-vod>
      </div>

      <div class="goDetail" *ngIf="agenda.isDetail" (click)="detailFn.emit(agenda)">
        자세히 보기
      </div>

    </div>
  </div>
</div>
