<div class="content-body live">
  <div class="content-inner" *ngIf="live" [ngSwitch]="live?.contentType">
    <div class="live-player">
      <app-player-ustream></app-player-ustream>
    </div>
  </div>

  <!-- Agendas -->
  <div class="program-agendas">
    <div class="content-inner">
      <div *ngFor="let agenda of agendas">
        <div *ngIf="agenda.isSession; else isAgenda">
          <app-session [session]="agenda" (detailFn)="goDetail($event)"></app-session>
        </div>
        <ng-template #isAgenda>
          <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
          </app-agenda>
        </ng-template>
      </div>
    </div>
  </div>
</div>
