.content-body {
  padding-top: 66px;
}

.live-player {
  border: 1px solid #ddd;
  .live-info {
    padding: 16px;
    border: 1px solid var(--gray4);
    box-sizing: border-box;
    background: var(--white);

    .live-agenda {
      .category {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .title {
        font-size: 1.4rem;
        color: var(--black);
      }
    }
  }
}

.program-agendas {
  padding-bottom: 100px;
}

.banners-wrapper {
  position: relative;
  padding: 0 34px;
  margin-bottom: 32px;

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
    background: #EAEAEA;

    &.banners-prev {
      left: 0;

      img {
        transform: rotate(-90deg);
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);
      }
    }
  }

  ng-image-slider {
    display: flex;

    .ng-image-slider {
      .ng-image-slider-container .main .img-div {
        position: relative;
        padding: 0 8px;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        img {
          max-width: 80% !important;
          max-height: 80% !important;
          border-radius: 0;
          // max-height: 40px ;
        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 14px;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          content: '';
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .content-body.live {
    padding-top: 24px;
  }
  .program-agendas {
    padding-bottom: 60px;
  }
}